:root {
    --primary-color: #ff5600;
}

li {
    list-style: none;
}

.button {
    outline: none !important;
    box-shadow: none !important;      
    padding: 10px 15px;  
    font-weight: 300;    
    border-radius: 10px;   
    transition: background-color 0.2s, border 0.2s, color 0.2s  ;
}
textarea,
select,
input {
    outline: none;
    box-shadow: none !important;
    border: 1px solid var(--primary-color);   
    background-color: white;
    font-size: 80%;
    font-weight: 300;
    padding: 6px 10px;
    transition: border 0.2s;
}
textarea,
input:focus {    
    border: 1px solid #cc4500;   
    
}

